<%- include('partials/header', { title: 'Add New Dream' }) %>

<body>
    <div class="container mt-5">
    <h1 class="mb-4"> Time to add something new</h1>
    <form action="/dreams" method="post">
        <div class="mb-3">
        <label for="dreamText" class="form-label">Dream: </label>
        <input type="text" id="dreamText" class="form-control" name="text" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/" class="btn btn-secondary ms-2">Go back</a>
    </div>
<%- include('partials/footer') %>
