<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= dream.text %></title>
</head>
<body>
      <h1><%= dream.text %></h1>
  <p><%= dream.text %></p>

  <a href="/dreams">Back to All Dreams</a>
</body>
</html>