<%- include('partials/header', { title: dream.text }) %>
<body>
      <h1><%= dream.text %></h1>
  <p><%= dream.text %></p>

  <a href="/dreams">Back to All Dreams</a>
<%- include('partials/footer') %>