<%- include('partials/header', { title: 'My Dreams Page' }) %>
<body>
     <h1>Edit Dream</h1>

  <form action="/dreams/<%= dream.id %>?_method=PATCH" method="POST">
    <label for="dreamText">Dream:</label>
    <input type="text"  id="dreamText"  name="text" value="<%= dream.text %>" required>
    <button type="submit">Update Dream</button>
  </form>

  <a href="/">Cancel</a>
<%- include('partials/footer') %>